
:root {
  --boxsize: 50px;
}

body {
  background-color: black;
  color: white;
}

.box {
  border: white 1px solid;
  padding: 0px;
  width: var(--boxsize);
  height: var(--boxsize);
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  user-select: none;
}

.full_correct {
  background-color: green;
}

.half_correct {
  background-color: orange;
}

.wrong_word {
  background-color: red;
}

.spacer {
  height: var(--boxsize);
}

#message {
  position: sticky;
  top: 0;
  z-index: 100;
  display: none;
}

#keyboard_container {
  position: sticky;
  bottom: 0;
  z-index: 100;
  background-color: black;
}

#results_area {
  height: 10em;
}

.good_game {
  background-color: green;
}

.button {
  cursor: pointer;
}